img{
  height: auto;
  min-width: 390px;
  width: 100%;
}

.App {
  text-align: center;
}

.navbar{
  background: #26532B !important;
}

.navbar-brand,
.nav-link{
  color: #fff !important;
  font-weight: bold;
}

h1,h2,h3,h4,h5,h6, span{
  color: #26532B;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
